*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  width: 100%;
  height: 100vh;
  background-color: #070724;
}
header{
  display: flex;
  color:white;
  justify-content: space-between;
  padding: 15px 5%;
  align-items: center;
}
header a{
  color: #FFF;
  font-family: Antonio;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -1.05px;
  text-transform: uppercase;
  cursor: pointer;
}
.header-hr{
  width: 100%;
  height: 1px;
  opacity: 0.2;
  background: #FFF;
}
.info{
  color: white;
  text-align: center;
}

.info img{
  width: 200px ;
  height: 200px;
}
.header-bar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 5%;
  margin-top: 23px;
  margin-bottom: 10px;
}

.header-bar-hr{
  margin-top: -10px;
  opacity: 0.1;
}
.active{
  color: #FFF;
  text-align: center;
  font-family: Spartan;
  font-size: 9px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.929px;
  text-transform: uppercase;
  opacity: 1;
  height: 23px;
  border-bottom: 3px solid red;
  transition: 0.2s;
}
.no-active{
  color: #FFF;
  text-align: center;
  font-family: Spartan;
  font-size: 9px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.929px;
  text-transform: uppercase;
  opacity: 0.5;
  height: 23px;
  cursor: pointer;
}

.information-div{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(../public/assets/stars.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.information-div img{
  margin-top: 97px;
  margin-bottom: 70px;
  max-width: 100%;
}
.none{
  display: none;
}
.text-div{
  display: flex;
  flex-direction: column;
}
.info{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.info h1{
  color: #FFF;
  text-align: center;
  font-family: Antonio;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}
.info p{
  color: #FFF;
  text-align: center;
  font-family: Spartan;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 200% */
  width: 85%;
  opacity: 0.5;
}
.btn-div{
  display: flex;
  flex-direction: column;
  display: none;
}
.footer{
  display: flex;
  flex-direction: column;
}
hr{
  margin-top: -3px;
}
.contant{
  display: flex;
  flex-direction: column;
  padding: 0 5%;
  margin-top: 44px;
  margin-bottom: 44px;
}
.contant hr{
  margin-top: 20px;
  margin-bottom: 20px;
  opacity: 0.1;
}
.section{
  display: flex;
  align-items: center;
}

.oval{
  width: 20px;
  height: 20px;
  border-radius: 10px;
  border: none;
  background-color: #DEF4FC;
}
.oval-2{
  width: 20px;
  height: 20px;
  border-radius: 10px;
  border: none;
  background-color: #F7CC7F;

}
.section h2{
  color: #FFF;
  text-align: center;
  font-family: Spartan;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px; /* 166.667% */
  letter-spacing: 1.364px;
  text-transform: uppercase;
  padding-left: 25px;
}
.oval-3{
  width: 20px;
  height: 20px;
  border-radius: 10px;
  border: none;
  background-color: #545BFE;
}
.oval-4{
  width: 20px;
  height: 20px;
  border-radius: 10px;
  border: none;
  background-color: #FF6A45;
}
.oval-5{
  width: 20px;
  height: 20px;
  border-radius: 10px;
  border: none;
  background-color: #ECAD7A;
}
.oval-6{
  width: 20px;
  height: 20px;
  border-radius: 10px;
  border: none;
  background-color: #FCCB6B;
}
.oval-7{
  width: 20px;
  height: 20px;
  border-radius: 10px;
  border: none;
  background-color: #65F0D5;
}
.oval-8{
  width: 20px;
  height: 20px;
  border-radius: 10px;
  border: none;
  background-color: #497EFA;
}
a{
  text-decoration: none;
}
.last-info{
  display: flex;
  flex-direction: column;
  padding: 10px 5%;
}
.last-info div{
  display: flex;
  align-items: center;
  border: 1px solid #FFF;
  opacity: 0.2;
  height: 48px;
}
